version: "3"

services:
    db:
        build: docker/postgres
        environment:
            - POSTGRES_USER=joris
            - POSTGRES_PASSWORD=moine
        user: "${UID}:${GID}"
        ports:
          - "5432:5432"
        expose:
          - 5432
        volumes:
          - ./data/postgres:/var/lib/postgresgl/data

    php:
        user: "${UID}:${GID}"
        build:
          docker/php7.1
        depends_on:
          - db
        expose:
          - 9000
        working_dir: /app
        volumes:
          - .:/app

    nginx:
        image: nginx
        depends_on:
          - php
        ports:
          - "8000:80"
        volumes:
          - .:/app
          - ./docker/nginx/site.conf:/etc/nginx/conf.d/default.conf